$primary-color: #4ACCD1;
$secondary-color: #666;
$text-color: #444;
$title-size: 46px;
$text-bold: 700;

.row {
    margin: 0;
}

.breadcrumb {
    margin-top: 80px;

    .profile {
        margin: 0;
    }
}

