@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

// Global Variables
$primary-color: #4ACCD1;
$secondary-color: #666;
$text-color: #444;
$title-size: 46px;
$text-bold: 700;

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.row {
    margin: 0;
    display: flex;
    flex-direction: row;;
}

.breadcrumb {
    margin-top: 80px;
}

hr.line {
    margin-top: 16px;
    width: 240px;
    border: 1px solid $primary-color;
    position: relative;
    float: left !important;
}

.profile {
    margin: 0 0 80px 0;

    .profile-description {
        margin-top: 32px;
        font-weight: 400;
        font-size: 16px;
        color: $text-color;
        letter-spacing: 1.2px;
    }
    
    #mid-part {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
    }

    .col-5{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .wrapper-consultation {
            background-color: $primary-color;
            border-radius: 8px;
            margin: 16 0 0 0 !important;
            padding: 8px 16px;
            color: #fff;
            font-weight: 400 !important;
            // display: flex;
            // flex-direction: column;
            // justify-content: space-between;

            .konsultasi {
                font-weight: 400 !important;
                font-size: 16px;
            }
            
            .konsultasi-count {
                margin-top: 16px;
                font-size: 24px;
                letter-spacing: 0.8px;
                font-weight: $text-bold;
            }

        }

        .bio-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-left: 16px;

            .icon {
                margin-left: 148px;   
                cursor: pointer;
            }

            h4 {
                padding: 0;
                margin: 0 !important;
                font-size: 18px !important;
                font-weight: 600;
                letter-spacing: 0.8px;
                color: $text-color;
            }
        }

        .profile-name {
            padding: 0;
            margin-left: 16px !important;
            font-size: 18px !important;
            font-weight: 600;
            letter-spacing: 0.8px;
            color: $text-color;
        }

        .saldo-name {
            padding: 0;
            margin: 0 0 0 16px !important;
            font-size: 18px !important;
            font-weight: 600;
            letter-spacing: 0.8px;
            color: $text-color;
        }

        .saldo {
            padding: 0;
            margin: 0 0 0 16px !important;
            font-size: 28px !important;
            font-weight: 600;
            letter-spacing: 0.8px;
            color: $text-color;
        }

        .saldo-wrapper {
            margin-top: 4px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .top-up {
            display: flex;
            flex-direction: column;
            margin: 16px 0 0 16px;
        }
    }

    .activity-card {
        display: flex;
        flex-direction: column;
        
        .last-activity-title {
            font-size: 28px;
            font-weight: $text-bold;
            letter-spacing: 1.2px;
            color: $text-color;
            padding-left: 32px;
        }

        .activity-card-content {
            box-sizing: border-box;
            border-radius: 8px;
            padding: 16px 32px;
            width: 400px;


            &:hover {
                transform: .5s ease;
                box-shadow: 0 .75rem 1.25rem rgba(0,0,0,.15)!important;
                opacity: 0.9;
            }

            .doctor-name {
                font-size: 24px;
                color: $text-color;
                font-weight: $text-bold;
                letter-spacing: 0.8px;
            }

            .doctor-polyclinic {
                font-size: 16px;
                color: $text-color;
                font-weight: 400;
                letter-spacing: 0.8px;
            }

            .doctor-date {
                font-size: 16px;
                color: $secondary-color;
                font-weight: 600;
                letter-spacing: 0.8px;
            }

            .doctor-report {
                margin-top: 16px;
                font-size: 16px;
                color: $secondary-color;
                font-weight: 400;
                letter-spacing: -0.4px;
            }

            .doctor-status {
                margin-top: 16px;
                font-size: 16px;
                color: 400;
                font-weight: 400;
                letter-spacing: -0.4px;

                span {
                    font-weight: 600;
                }
            }
            
            .btn-doctor {
                padding: 4px 25px;
                border-radius: 8px;
                border: 1px solid gray;
                color: #000;
                font-weight: 400;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

}


.register-title {
    font-size: 36px;
    color: $text-color;
    font-weight: 600;
    text-align: center;
    // text-align: center;
}

.form-group {
    margin: 16px 8px;
    width: 600px;

    .col-lg {
        padding: 0;

        .date-picker-wrapper {
            // margin-top: 8px;
            display: flex !important;
            flex-direction: row !important;
            align-items: center !important;  
            padding: 6px 0;

            input {
                margin: 0 0 0 4px;
            }
    
            .icon {
                // margin-top: -4px;
            }
    
            .react-datepicker-wrapper {
                margin-top: 0;
                input {
                    margin: 0 0 0 4px !important;
                    width: 260px;
                    padding: 0 4px !important;
                    outline: none;
                }
            }
        }
    }

    label {
        margin: 0 0 4px 0;
        font-weight: 600;
        letter-spacing: 0.2px;
    }
    
}
.btn-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    a {
        margin-top: 8px;

        &:hover {
            opacity: 0.8;
        }
    }       
}
.register-btn {
    margin-top: 16px;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.6px;
    text-decoration: none;
    color: $text-color;
    font-weight: 400;
    
    span {
        font-weight: $text-bold;
        
        &:hover {
            opacity: 0.8;
        }
    }
}

.modal-form {    
    

}