@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

// Global Variables
$primary-color: #4ACCD1;
$secondary-color: #666;
$text-color: #444;
$title-size: 46px;
$text-bold: 700;

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

// Brand Icon 
.brand-text-icon {
    font-size: 28px;
    font-weight: 600;
    color: $primary-color;
    align-items: center;

    &:hover {
        text-decoration: none;
        color: $primary-color !important;
    }

    img {
        margin-right: 16px;
    }
}


// Header

header {
    width: 100%;
    position: fixed;
    z-index: 10;

    .navbar {
        .navbar-nav {
            li.nav-item {
                a {
                    &.nav-link {
                       color: $secondary-color;
                       padding-left: 1rem;
                       padding-right: 1rem;
                       font-weight: $text-bold;
                       font-size: 18px;
                       letter-spacing: 1.6px;
                       &:hover {
                           margin-top: -3px;
                           color: $primary-color;
                       }
                    }
                    &.nav-link.active {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}


// Hero
.hero {
    position: relative;
    color: $secondary-color;
    .hero-bg {
        background: url('./assets//hero-image.jpg');
        height: 750px;
        padding-top: 160px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hero-text {
        font-weight: $text-bold;
        letter-spacing: 2px;
        font-size: $title-size;
        line-height: 58px;
        position: relative;
    }

    hr {
        margin-top: 16px;
        width: 180px;
        border: 3px solid $primary-color;
        float: left;
        position: relative;
    }

    .text-wrapper {
        margin-top: 60px;
        background-color: rgba($color: #fff, $alpha: 0.8);
        padding: 20px 10px;
    }

    .hero-text-sm {
        color: $text-color;
        font-weight: 400;
        font-size: 18px;
        // letter-spacing: 1px;
        text-align: justify;
        position: relative;
    }

    .hero-cta {
        margin: 40px 0 10px 0;
        background-color: $primary-color;
        border-color: $primary-color;
        border-radius: 8px;
        color: #fff;
        font-size: 18px;
        font-weight: $text-bold;
        text-decoration: none;
        letter-spacing: 1.2;
        padding: 6px 36px;

        &:hover {
            background-color: $secondary-color;
            border-color: $secondary-color;
        }
    }
}


// Statistic

.statistic {
    margin-top: -54px;
    
    .main-statistic {
        border-radius: 12px;
        padding: 34px;

        .wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;

            h3 {
                font-weight: $text-bold;
                letter-spacing: 1px;
                font-size: 28px;
                color: $text-color;
                margin-left: 12px;
            }
        }
    }
}


// About
.about {
    margin-top: 100px;
    margin-bottom: 800px;

    .about-title {
        color: $text-color;
        font-size: $title-size;
        font-weight: $text-bold;
        letter-spacing: 1.2px;
    }

    hr {
        margin-top: 16px;
        width: 180px;
        border: 3px solid $primary-color;
        float: left;
        position: relative;
    }

    img {
        margin-top: 20px;
        border-radius: 16px;
    }

    .title {
        margin-top: 20px;
        font-weight: 400;
        color: $text-color;
        letter-spacing: 1px;
        font-size: 32px;

        span {
            font-weight: $text-bold;
        }
    }

    .description {
        margin-top: 30px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.8px;
        font-weight: 400;

        span {
            font-weight: $text-bold;
        }
    }

    .about-cta {
        margin: 30px 0 10px 0;
        background-color: $primary-color;
        border-color: $primary-color;
        border-radius: 8px;
        color: #fff;
        font-size: 18px;
        font-weight: $text-bold;
        text-decoration: none;
        letter-spacing: 1.2;
        padding: 6px 36px;

        &:hover {
            background-color: $secondary-color;
            border-color: $secondary-color;
        }
    }
}






// MOBILE RESPONSIVE

@media (max-width: 575.98px) { 
    header {
        position: relative;
    }

    .hero {
        color: $secondary-color;
        .hero-bg {
            background: url('./assets//hero-image.jpg');
            height: 100%;
            padding-top: 160px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .hero-text {
            margin-top: -120px;
            line-height: $title-size;
        }

        img {
            margin-top: 20px;
            padding-bottom: 160px;
        }
    }

    .statistic {
        margin-top: -100px;
        position: relative;
        margin-left: 16px;
        margin-right: 16px;

        .col-lg {
            padding: 8px 0;

            .wrapper {

                img {
                    width: 40px;
                    height: 40px;
                }
    
                h3 {
                    font-size: 20px !important;
                    letter-spacing: 2px;
                }
            }
        }
    }

    .about {
        margin-top: 60px;
    }
  }
