@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

// Global Variables
$primary-color: #4ACCD1;
$secondary-color: #666;
$text-color: #444;
$title-size: 46px;
$text-bold: 700;

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

// Global

*:focus {
    outline:none !important
}

.img-container {
    overflow: hidden;
    border-radius: 16px;

    img {
        transition: transform .5s ease;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.img-wrapper {
    overflow: hidden;

    img {
        transition: transform .5s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}


hr.center {
    margin-top: 16px;
    width: 180px;
    border: 3px solid $primary-color;
    position: relative;
    text-align: center !important;
}

// Brand Icon 
.brand-text-icon {
    font-size: 28px;
    font-weight: 600;
    color: $primary-color;
    align-items: center;

    &:hover {
        text-decoration: none;
        color: $primary-color !important;
    }

    img {
        margin-right: 16px;
    }
}


// Header

header {
    width: 100%;
    position: fixed;
    z-index: 10;

    .navbar {
        .navbar-nav {
            li.nav-item {
                a {
                    &.nav-link {
                       color: $secondary-color;
                       padding-left: 1rem;
                       padding-right: 1rem;
                       font-weight: $text-bold;
                       font-size: 18px;
                       letter-spacing: 1.6px;
                       &:hover {
                           margin-top: -3px;
                           color: $primary-color;
                       }
                    }
                    &.nav-link.active {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}


// Hero
.hero {
    position: relative;
    color: $secondary-color;
    .hero-bg {
        background: url('./assets//hero-image.jpg');
        height: 750px;
        padding-top: 160px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hero-text {
        font-weight: $text-bold;
        letter-spacing: 2px;
        font-size: $title-size;
        line-height: 58px;
        position: relative;
    }

    .text-wrapper {
        margin-top: 60px;
        background-color: rgba($color: #fff, $alpha: 0.8);
        padding: 20px 10px;
    }

    .hero-text-sm {
        color: $text-color;
        font-weight: 400;
        font-size: 18px;
        // letter-spacing: 1px;
        text-align: justify;
        position: relative;
    }
}


// Statistic

.statistic {
    margin-top: -54px;
    
    .main-statistic {
        border-radius: 12px;
        padding: 34px;

        .wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;

            h3 {
                font-weight: $text-bold;
                letter-spacing: 1px;
                font-size: 28px;
                color: $text-color;
                margin-left: 12px;
            }
        }
    }
}


// About
.about {
    margin-top: 100px;

    .col-lg {
        padding: 0;
    }

    .col-lg.desc {
        padding: 0  0 0 18px !important;
    }

    .about-title {
        color: $text-color;
        font-size: $title-size;
        font-weight: $text-bold;
        letter-spacing: 1.2px;
    }

    .title {
        font-weight: 400;
        color: $text-color;
        letter-spacing: 1px;
        font-size: 32px;

        span {
            font-weight: $text-bold;
        }
    }

    .description {
        margin-top: 30px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.8px;
        font-weight: 400;

        span {
            font-weight: $text-bold;
        }
    }

    .doctors-content {
        margin-top: 100px;
        background-color: #fafafa;
        padding: 64px 32px;

        .wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            
            .icon {
                color: $primary-color;
            }
    
            h1 {
                font-size: 24px;
                margin-left: 16px;
                font-weight: $text-bold;
                color: $text-color;
                letter-spacing: 0.8px;
            }        
        }
        h4 {
            font-size: 16px;
            text-align: justify;
            font-weight: 400;
            margin-top: 12px;
        }
    }
}



// DOCTOR LIST

.doctor-list {
    .title {
        font-size: 36px;
        color: $text-color;
        font-weight: $text-bold;
        letter-spacing: 1.2px;
        text-align: center;
    }

    .card {
        border-radius: 8px;
    }
}



// FACILITY

.facility {
    margin-top: 80px;
    
    .facility-title {
        color: $text-color;
        font-size: $title-size;
        font-weight: $text-bold;
        letter-spacing: 1.2px;
    }
}

.testimonial {
    margin-top: 80px;

    .parallax {
        background-image: url('./assets//parallax.jpg');
        height: 600px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .person {
            flex-basis: auto !important;
            text-align: center;
            color: #fafafa;

            // flex-grow: auto !important;
        
            .comment {
                font-size: 28px;
                line-height: 36px;
                letter-spacing: 0.8px;
                font-weight: 400;
                text-align: center;
            }


                img {
                    padding: 0px !important;
                    margin: 40px auto !important;
                    width: 220px;
                    position: relative;
                }

                h3 {
                    font-size: 24px;
                    font-weight: 400;
                    margin-top: -16px;
                }

                h4 {
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 1.4px;
                    margin-top: -4px;
                }
        }

    }
}

.partner {
    margin: 0;
    padding: 60px 0 100px 0;
    background-color: #fafafa;

    .partner-title {
        color: $text-color;
        font-size: 36px;
        font-weight: $text-bold;
        letter-spacing: 1.2px;
        text-align: center;
    }

    .col-lg {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 24px !important;
    }
}


footer {
    padding: 40px 0;
    background: #f2f2f2;
    color: $secondary-color;
    font-size: 16px;
    text-align: justify;

    .about-footer {
        letter-spacing: 0.8px;
        font-weight: 600;
    }

    .information-footer {
        margin-top: 30px;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: column;
        
        .link-footer {
            color: $secondary-color;
            margin: 0;
            font-weight: 400;
            letter-spacing: 0.4px;
            padding: 2px 0;

            &:hover {
                text-decoration: none;
                color: $primary-color !important;
            }
        }

        .icon-group {
            padding: 6px 0;
            display: flex;
            flex-direction: row;
            align-items: center;

            h5 {
                margin: 0 0 0 16px;
                letter-spacing: 0.8px;
                font-weight: 400;
                font-size: 18px;
            }
        }
    }
}

.copyright {
    margin: 0;
    height: 50px;
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 16px;
        text-align: center;
        color: $text-color;
        font-weight: 400;
    }
}







// MOBILE RESPONSIVE

@media (max-width: 575.98px) {
    hr {
        width: 120px !important;
    }

    header {
        position: relative;

        .navbar-collapse {
            a {
                &.nav-link {
                    padding: 8px 0 !important;
                }
            }

            .dropdown-menu {
                margin: 0;
                padding: 0;
                border: none;
            }
            
        }
    }

    .hero {
        color: $secondary-color;
        .hero-bg {
            background: url('./assets//hero-image.jpg');
            height: 100%;
            padding-top: 160px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .hero-text {
            margin-top: -120px;
            font-size: 36px;
            line-height: 46px;
        }

        img {
            margin-top: 20px;
            padding-bottom: 160px;
        }
    }

    .statistic {
        margin-top: -100px;
        position: relative;
        margin-left: 16px;
        margin-right: 16px;

        .col-lg {
            padding: 8px 0;

            .wrapper {

                img {
                    width: 40px;
                    height: 40px;
                }
    
                h3 {
                    font-size: 20px !important;
                    letter-spacing: 2px;
                }
            }
        }
    }

    .about {
        margin-top: 60px;

        .about-title {
            font-size: 36px;
        }

        .title {
            margin-top: 20px;
        }

        .doctors-content {
            margin-top: 60px;

            .col-lg {
                margin: 24px 0px
            }
        }
    }

    .doctor-list {
        .col-lg {
            margin: 24px 0px;
        }

        .search-doctor {
            margin-top: 0 !important;
        }
    }

    .facility {
        .facility-title {
            font-size: 36px;
        }
    }

    .testimonial {
        .parallax {
            .person {
                .comment {
                    font-size: 18px;
                    line-height: 24px;
                }

                img {
                    width: 200px;
                }
            }
        }
    }

    .partner {
        padding-bottom: 40px !important;
        .partner-top {
            margin: 0px !important;
            // margin-bottom: 0px !important;
            .col-lg {
                margin: 20px 0px;
                justify-content: center;
    
                img {
                    width: 180px;
                }
            }
        }
        }

        footer {
            padding-top: 20px;
            .about-footer {
                margin-top: 20px;   
            }

            .icon-group {
                padding: 6px 0;
                display: flex;
                flex-direction: row;
                align-items: center;
    
                h5 {
                    margin: 0 0 0 16px;
                    letter-spacing: 0.4px !important;
                    font-weight: 400;
                    font-size: 16px;
                }
        }
    }
  }