@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

// Global Variables
$primary-color: #4ACCD1;
$secondary-color: #666;
$text-color: #444;


body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

// Brand Icon 

.brand-text-icon {
    font-size: 28px;
    font-weight: 600;
    color: $primary-color;
    align-items: center;

    &:hover {
        text-decoration: none;
        color: $primary-color !important;
    }

    img {
        margin-right: 16px;
    }
}


// Header

header {
    width: 100%;
    position: fixed;
    z-index: 10;

    .navbar {
        height: 80px;

        .navbar-nav {
            li.nav-item {
                a {
                    &.nav-link {
                       color: $secondary-color;
                       padding-left: 1rem;
                       padding-right: 1rem;
                       font-weight: 700;
                       font-size: 18px;
                       letter-spacing: 1.6px;
                       &:hover {
                           margin-top: -3px;
                           color: $primary-color;
                       }
                    }
                }
            }
            .active {
                a {
                    &.nav-link {
                        color: $primary-color !important;
                    }
                }
            }
        }
    }
}


// Hero
.hero {
    color: $secondary-color;
    margin-bottom: 800px;

    .hero-text {
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 46px;
        line-height: 58px;
        position: relative;
    }

    hr {
        margin-top: 16px;
        width: 30%;
        border: 3px solid $primary-color;
        float: left;
        position: relative;
    }

    .text-wrapper {
        margin-top: 60px;
        background-color: rgba($color: #fff, $alpha: 0.8);
        padding: 20px 10px;
    }

    .hero-text-sm {
        color: $text-color;
        font-weight: 400;
        font-size: 18px;
        // letter-spacing: 1px;
        text-align: justify;
        position: relative;
    }

    .hero-cta {
        margin: 40px 0 10px 0;
        background-color: $primary-color;
        border-color: $primary-color;
        border-radius: 8px;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        letter-spacing: 1.2;
        padding: 6px 36px;

        &:hover {
            background-color: $secondary-color;
            border-color: $secondary-color;
        }
    }

    .hero-bg {
        background: url('./assets//hero-image.jpg');
        height: 800px;
        padding-top: 160px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}